server/db-reddit-analytics.db
server/reddit-analytics.log
server/config.ini
__pycache__
server/__pycache__
client/node_modules
client/bower_components
client/sftp-config.json
client/_build
client/npm-debug.log
client/.idea
client/style.css
client/style.min.css
node_modules
bower_components
.idea
.idea*
_build
server/db-reddit-analytics _old sr_backup.db