#is-active-tab{
border-bottom:2px solid blue;
}


.is-active-tab{
border-bottom:2px solid blue;
}




.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }



.radivider {
    border-right: 1px solid black;

    display: inline-block;
    box-shadow:1px 0px 1px #888;
}

/*body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}*/
#main {
  float: left;
  width: 750px;
}
#sidebar {
  float: right;
  width: 100px;
}
#sequence {
  width: 600px;
  height: 70px;
}
#legend {
  padding: 10px 0 0 3px;
}
#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}
#chart {
  position: relative;
}
#chart path {
  stroke: #fff;
}
#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}
#percentage {
  font-size: 2.5em;
}

.linkBorder{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.labelbox {
  float: left;
  margin-top:2px;
  width: 15px;
  height: 15px;
  /* margin: 5px; */
  border: 1px solid rgba(0, 0, 0, .2);
}