<div ng-controller="navController">
  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#wordcloud"  name="wordcloud">
        <i class="material-icons" style="position:absolute;">cloud_queue</i><span class="ratopnav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entity Word Cloud</span>        
      </md-nav-item>
      <md-nav-item md-nav-href="#categories"  name="categories">
        <i class="material-icons" style="position:absolute;">pie_chart_outlined</i><span class="ratopnav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Category Pie Chart</span>
      </md-nav-item>
      <md-nav-item md-nav-href="#sentiment"  name="sentiment">
        <i class="material-icons" style="position:absolute;">timeline</i><span class="ratopnav"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sentiment Timeline</span>
      </md-nav-item>
      <md-nav-item md-nav-href="#entity"  name="entity">
        <i class="material-icons" style="position:absolute;">call_split</i><span class="ratopnav"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entity Dispersion</span>
      </md-nav-item>
      <md-nav-item md-nav-href="#sunburst" name="sunburst">
        <i class="material-icons" style="position:absolute;">wb_sunny</i><span class="ratopnav"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sunburst Chart</span>
      </md-nav-item>

      <md-nav-item md-nav-href="#bydate"  name="bydate">
        <i class="material-icons" style="position:absolute;">date_range</i><span class="ratopnav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Analyze by Date</span>
      </md-nav-item>
      <md-nav-item md-nav-href="#documentation"  name="documentation">
        <i class="material-icons" style="position:absolute;">book</i><span class="ratopnav">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About</span>
      </md-nav-item>
    </md-nav-bar>
  </md-content>
</div>
