<div ng-controller="navController">
  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#home" name="home">
        Home
      </md-nav-item>
      <md-nav-item md-nav-href="#explore"  name="explore">
        Explore
      </md-nav-item>
      <md-nav-item md-nav-href="#contact"  name="contact">
        Contact
      </md-nav-item>
          <md-nav-item md-nav-href="#documentation"  name="documentation">
        Documentation
      </md-nav-item>
    </md-nav-bar>
  </md-content>
</div>
