<!--<h3>Explore!</h3>-->
<div class="container cf" ng-controller ="exploreController">




<div layout="row" layout-xs="column">
  <div flex="25"  class="radivider" style="padding:20px">
    <b> Word Cloud Options</b> <br> <br> <br> 


    <b>Timeset Chosen:</b>  

<md-select placeholder="{{timeOptions[0]}}" ng-model="currentTimeOption" md-on-open="loadTime()" style="color:black;min-width: 200px;"
  ng-change="selectedItemChanged(currentTimeOption)" aria-label="current time">

<md-option id="redditOptions{{$index}}" ng-value="timeOption" ng-repeat="timeOption in timeOptions track by $index">{{timeOption}}</md-option>

</md-select>
    
   
    <p class=""><b>Current Time:</b><br> {{ now }}</p>

    <md-radio-group ng-model="data.group1"> 
  <b>Subreddit:</b><br>
  
<!--<md-radio-button ng-class="{'md-checked':reddit == 'politics'}" required ng-click="cutbyReddit(reddit)" ng-repeat="reddit in subredditoptions"  value="{{reddit}}" class="md-primary">-->
<md-radio-button  id="radio_{{$index}}"  required ng-click="cutbyReddit(reddit)" ng-repeat="reddit in subredditoptions"  value="{{reddit}}" class="md-primary">
  /r/{{reddit}}</md-radio-button>

<!--<md-radio-button value="{{planInfo._id}}" name="plan" class="md-primary" ng-class="{'md-checked':trues}" required>-->

      <!--<md-radio-button    ng-repeat="reddit in subredditoptions"  value="Apple" class="md-primary">Apple</md-radio-button>-->
      <!--<md-radio-button value="Banana"> Banana </md-radio-button>-->
      <!--<md-radio-button value="Mango">Mango</md-radio-button>-->

    </md-radio-group>


    <br>
    <br>

  </div>
  
  <div flex="75">    
  <!--#8B0000-->
  <!--#006400-->
  <md-toolbar class="md-default" style="background-color: {{worddetails.color}};height:5%">
    <div class="md-toolbar-tools">
      <h4 class="md-flex" style="color:white">
Entity Name: {{worddetails.name}}, Label: 
{{worddetails.label}}, Confidence: {{worddetails.confidence}}%, Occurences:{{worddetails.occurences}}
 
<!--<i class="material-icons">send</i>-->
 

      </h4>
    </div>
  </md-toolbar>

        <md-card-actions layout="row" layout-align="end center">
          <md-button  class="linkBorder" ng-href="https://www.reddit.com/{{worddetails.reddit_id}}" target="_blank">reddit.com/{{worddetails.reddit_id}}</md-button>
        </md-card-actions>
  
          

        </md-card-title>

      </md-card>



    <div id="wordsCloud" style="padding-left:3%;width:60%;height:90%">
   <!--<word-cloud words="words" width="width" height="height" padding="25" rotate="rotate">-->
   <word-cloud words="words" width="width" height="height" padding="0" rotate="rotate" on-click="wordClicked">
   </word-cloud>
<br> <br>    <br>    <br>   
       <center><b>Wordcloud for</b>: {{currentTime}} - /r/{{currentReddit}}</center>
    

</div>
  <div>
<!--
      <br>

      </div>
      
  </div>
</div>


<div layout="row" layout-align="center center">




</div>


        <!--<nvd3 options='options' data='data' api="api"></nvd3>-->

<br><br>


</div>

<div class="text-center">
    <br> <br>
   
    <small>  Copyright &copy; 2017 <a target="_blank" href="http://www.ankitgyawali.com">Ankit Gyawali</a></small>
</div>

