<h2 class="text-center">Reddit Analytics</h2>

<!-- slider directive -->
<!--<div myslider>
    <ul class="slider">
        <li class="image-slider">
            <img src="https://unsplash.imgix.net/photo-1426200830301-372615e4ac54?fit=crop&fm=jpg&h=725&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://unsplash.imgix.net/photo-1421977870504-378093748ae6?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://ununsplash.imgix.net/photo-1421757295538-9c80958e75b0?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://unsplash.imgix.net/photo-1420745981456-b95fe23f5753?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://download.unsplash.com/photo-1415871989540-61fe9268d3c8" alt="Image">
        </li>
    </ul>
</div>-->

<h3>Reddit Analytics</h3>
<div class="container cf">
    <div>
        <ul>
            <li>* Using Reddit Analytics</li>
        </ul>
    </div>
</div>

<div class="text-center">
    <small>  <a target="_blank" href="http://www.ankitgyawali.com">Ankit Gyawali</a></small>
</div>

