

  

<!--<h3>Explore!</h3>-->
<div class="container cf" ng-controller ="homeController">


        <!--<nvd3 options='options' data='data' api="api"></nvd3>-->
<nvd3 options="options"
      data="data"
     config="{ deepWatchData: true }",
      events="events"
      api="api"
      on-ready="callback"></nvd3>
<br><br>
<button ng-click="loadData()">

Show data
</button>

</div>

<div class="text-center">
    <br> <br>
   
    <small>  Copyright &copy; 2017 <a target="_blank" href="http://www.ankitgyawali.com">Ankit Gyawali</a></small>
</div>

